{% comment %}

    Adds Bootstrap styled breadcrumbs to page.
    By default the crumbs are: Home (index.html) / Explorar (browse.html) / current page title (from the metadata, truncated to 10 words max).

{%- endcomment -%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | relative_url }}">Página principal</a></li>
    <li class="breadcrumb-item"><a class="text-dark" href="{{ '/browse.html' | relative_url }}">Elementos</a></li>
    <li class="breadcrumb-item active text-dark" aria-current="page">{{ page.title | truncatewords: 10 }}</li>
</ol>