---
# collection "Browse" page
layout: page
custom-foot: js/browse-js.html
---

{{ content }}

<div class="row mb-3 justify-content-center">
    <div class="col-md-8 text-center">
        <form role="search" id="lunrSearch" onsubmit="submitFilter(); return false;">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="filterTextBox" placeholder="Filtrar..." aria-label="Buscar"> 
                <button class="btn btn-success" type="button" onclick="submitFilter()" id="filterButton">Buscar</button>
                <button class="btn btn-outline-secondary filter" onclick="resetFilter(); return false;" data-filter="">Restablecer</button>
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <select class="form-select mt-1" id="browseSortSelect">
            <option value="random">Aleatorio</option>
            <option value="title">Nombre</option>
            {% assign sort_options = site.data.config-browse | where_exp: 'i', 'i.sort_name != nil' %}
            {% for o in sort_options %}
            <option value="{{ o.field | escape }}">{{ o.sort_name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="row">
    <div class="h2 text-center w-80" id="numberOf"></div>
</div>

<div id="loadingIcon" class="text-center">
    <div class="spinner-border text-dark" role="status"><span class="visually-hidden">Cargando...</span></div>
</div>

<div class="row justify-content-center py-2" id="browseItems"></div>
